.bagContainer {
   display: flex;
   padding: 2rem;
   width: 100%;
   justify-content: center;
}

.bagProductCardsContainer {
   display: flex;
   flex-direction: column;
   max-width: 1200px;
   width: 100%;
   gap: 2rem;
}
