.productCard {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 2rem 1rem;
   gap: 1rem;
   max-width: 300px;
   border-radius: 5px;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   max-height: 800px;
}

.productImage {
   max-width: 80%;
}

.description {
   overflow: auto;
}

.addingProductToBagContainer {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.productCountAdjustmentsContainer {
   display: flex;
   gap: 0.5rem;
}

.incrementDecrementBtn {
   padding: 0.2rem 0.6rem;
   font-size: 1rem;
}

.productCountInput {
   text-align: center;
}
